.btn{
    padding: 12px 30px;
    border-radius: 28px;
    border: none !important;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        width: 0;
        background-color: $primary;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        clip-path: polygon(0 0, 75% 1%, 100% 100%, 0% 100%);
    }
    i{
        font-size: 1.3rem;
        // margin-left: 10px;
        display: inline-block;
    }
    &:hover{

        &::before{
            width:150%;
        }
        
        // transform: scale(1.05);
        i{
            animation: flipAnimation 0.5s ease-in-out;
        }
    }
}
.btn-primary{
    background-color: #2c2e3a !important;
    border-color: #2c2e3a !important;
    color: #ffffff !important;
}
.btn-secondary{
    background-color: $secondary !important;
    border-color: $secondary !important;
    color: #ffffff !important;
}
.btn-outline-primary{
    background-color: transparent !important;
    border-color: $secondary !important;
    color: #000 !important;
}
.btn-block{
    display: block;
    width: 100%;
}

.btn-sm{
    padding: 5px 15px;
    border-width: 2px;
    font-weight: 700;
    border: 1px solid $tertiary !important;
    &:hover{
        color: white !important;
    }
    i{
        margin: 0;
    }
}

