.services-section{
    .card{
        background-color: #fff;
        border-radius: 0;
        border: none;
        transition: all .3s ease-in-out;
        padding: 15px 10px;
        box-shadow: 2px 2px 14px #d1d1d1;
        text-align: center;
        cursor: pointer;
        position: relative;
        height: 300px;
        overflow: hidden;
        // &:hover{
        //     box-shadow: 2px 2px 14px rgba($color: $secondary, $alpha: 0.3);;
        // }
        .card-image{
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-icon{
            margin-bottom: 10px;
            i{
                font-size: 2rem;
            }
        }
        .card-title{
            font-size: 1.3rem;
            min-height: 65px;
            font-weight: 500;
        }
        // .card-content{
        //     padding: 30px 20px;
        //     .card-title{
        //         font-size: 1.4rem;
        //         font-weight: 700;
        //         color: $primary;
        //         margin-bottom: 10px;
        //     }
        //     .card-desc{
        //         font-size: 1rem;
        //         color: $text-color;
        //         margin: 0;
        //         margin-bottom: 20px;
        //     }
        //     .card-action{

        //     }
        // }
        .card-top{
            margin-bottom: 20px;
        }
        .card-data{
            position: absolute;
            inset: 70% 0 auto 0;
            background-color: white;
            padding: 20px;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease-in-out;
            animation: updownanimation 0.5s alternate-reverse infinite;
        }
        &:hover{
            .card-data{
               inset: 0;
               height: 100%;
               animation: none;
            }
        }
    }
}

.services-cards{
    .card{
        padding: 20px;
        border: none;
        align-items: center;
        &.card-1{
            color: $white;
            background-color: $secondary;
        }
        &.card-2{
            color: $white;
            background-color: $primary;
        }
        &.card-3{
            color: $white;
            background-color: $tertiary;
        }
    }
    .card-title{
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
        a{
            text-decoration: none;
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
        }
    }
    button{
        max-width: 170px;
    }
}

@keyframes updownanimation{
    0%{
        transform: translateY(-1px);
    }
    0%{
        transform: translateY(1px);
    }
}