footer{
    background-color: #f9f9f9;;
    text-align: center;
    position: relative;
    color: $white;
    border-top: 1px solid rgba(0, 0, 0, 0.085);
    .footer-inner{
        padding: 40px 0;
    }
    .footer-head{
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .footer-links{
        li{
            color: $black;
            font-size: 1rem;
            margin-bottom: 10px;
            a{
                color: inherit;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }
    .footer-content{
        position: relative;
        z-index: 2;
        padding: 40px 0;
        border-top: 2px solid rgba($color: $primary, $alpha: 0.2);
    }
    .footer-title{
        font-weight: 700;
        margin-bottom: 30px;
    }
    .footer-desc{
        max-width: 700px;
        margin: auto;
        font-style: italic;
    }
    .footer-logo{
        margin-left: -20px;
        img{
            width: 100%;
            max-width: 200px;
            mix-blend-mode: multiply;
        }
    }
    .social-links{
        margin-top: 30px;
        a{
            font-size: 18px;
            display: inline-block;
            background: #19826d;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            &:hover{
                background: #fcb102;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .credits{
        margin-top: 50px;
    }

    .col-1,.col-2{
        text-align: left;
    }
}
// .footer-fixed-menu{
//     display: none;
//     @include media-breakpoint-down(lg){
//         display: block;
//         position: fixed;
//         inset: auto 0 0 0;
//         background-color: $primary;
//         padding: 15px 0;
//         z-index: 100;
//         ul{
//             display: flex;
//             justify-content: space-around;
//             margin: 0;
//         }
//         li{
//             div{
//                 display: flex;
//                 flex-direction: column;
//             }
//             .footer-menu-icon{
//                 font-size: 1.8rem;
//             }
//             .footer-menu-title{
//                 color: white;
//                 font-size: 1.2rem;
//             }
//         }
//     }
// }
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select{
    height: auto;
}
.contact-form{
    .form-control{
        background-color: #00131f;
        color: white;
        border-color: #004875;
    }
    label{
        color: white !important;
    }
}
p.footer-content{
    font-size: 1.2rem;
}
.address-items{
    .address-item{
        padding-left: 35px;
        position: relative;
        i{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 20px;
            color: $tertiary;
        }
        span{
            font-size: 1.1rem;
        }
        span:not(:last-child){
            margin-bottom: 1rem;
        }
    }
}

.footer-bottom{
    background-color: #001928;
    padding: 20px 0;
    span,i,p{
        font-size: 20px;
        @include media-breakpoint-down(lg){
            font-size: 16px;
        }
        color: whitesmoke;
    }
}

.fixed-contact{
    .contact-icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #25D366;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: auto 40px 250px auto;
        z-index: 1051;
        a{
            color: white;
        }
        i{
            font-size: 30px;
        }
        @include media-breakpoint-down(lg){
            width: 40px;
            height: 40px;
            inset: auto 40px 150px auto;
            i{
                font-size: 20px;
                
            }
        }
        &.phone{
            background-color: $primary;
            bottom: 150px;
            @include media-breakpoint-down(lg){
                bottom: 100px;
            }
        }
    }
}

.back-to-top{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(196, 196, 196);
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: auto 40px 50px auto;
    cursor: pointer;
    display: none;
    &.active{
        display: flex;
    }
    i{
        color: black;
        font-size: 30px;

    }
    @include media-breakpoint-down(lg){
        width: 40px;
        height: 40px;
        i{
            font-size: 20px;
            
        }
    }
}

.footerFixedMenu{
    position: fixed;
    inset: auto auto 80px 80px;
    flex-direction: column;
    gap: 15px;
    display: none;
    @include media-breakpoint-down(md){
        inset: auto auto 40px 15px;
    }
    &.active{
        display: flex;
    }
    .fixedItem{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        i{
            font-size: 1.5rem;
        }
        @include media-breakpoint-down(sm){
            width: 45px;
            height: 45px;
            i{
                font-size: 1.3rem;
            }
        }
        &:first-child{
            background: linear-gradient(45deg, #325193 8%, #1e5be0 100%);;
            i{
                color: $white;
            }
        }
        &:nth-child(2){
            background-color: #25D366;
            i{
                color: $white;
            }
        }
        &:nth-child(3){
            background: linear-gradient(45deg,#d32c19 8%,#da6e30 100%);
        }
        &:nth-child(4){
            background-color: #EC0F02;
        }
        i{
            display: inline-block;
        }
        &:hover{
            i{
                animation: flipAnimation 0.5s ease-in-out;
            }
        }
    }
}

.fixedWhatsapp{
    position: fixed;
    inset: auto auto 80px 80px;
    @include media-breakpoint-down(md){
        inset: auto auto 40px 15px;
    }
    background: #25D366;
    padding: 15px 20px;
    display: flex;
    border-radius: 50%;
    animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     border-radius: 50%;
    //     padding: 25px;
    //     border: 5px solid #25d366;
    //     opacity: 0.75;
    //     animation-name: pulse-border;
    //     animation-duration: 1.5s;
    //     animation-timing-function: ease-out;
    //     animation-iteration-count: infinite;
    // }
    
    // &.active{
    //     display: flex;
    // }
    i{
        display: inline-block;
        font-size: 2rem;
    }
    &:hover{
        i{
            animation: flipAnimation 0.5s ease-in-out;
        }
    }
}

.backToTop{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i{
        font-size: 1.5rem;
        color: $secondary;
        animation: updownanimation .5s alternate-reverse infinite;
    }
}
.pwdby{
    text-transform: uppercase;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1rem !important;
    letter-spacing: 3px;
    font-weight: 400;
}