header{
    background-color: $white;
    @include media-breakpoint-up(lg){
        overflow-x: hidden;
    }
    @include media-breakpoint-up(lg){
        position: sticky;
        top: 0;
        z-index: 1050;
        &.header-sticky{
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            // .navbar-brand img{
            //     position: absolute;
            //     opacity: 0;
            // }
        }
    }
    color: $black;
    nav.navbar{
        padding: 15px 0;
    }
    .navbar-brand img{
        max-width: 200px;
        @include media-breakpoint-up(lg){
            margin-left: -20px;
        }
        @include media-breakpoint-down(sm){
            max-width: 150px;
        }
    }
    .navbar-nav{
        margin: auto;
        align-items: center;
        --bs-nav-link-color: #000000;
        --bs-navbar-active-color: #F1592A;
        .nav-item{
            padding: 0 18px;
            &.nohover .nav-link{
                border-bottom: none !important;
                &:hover{
                    border-bottom: none !important;
                }
            }
            &:last-child{
                padding-right: 0;
            }
        }
        .nav-link{
            font-size: 1.2rem;
            color: #000 !important;
            padding: 0 !important;
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease-in-out;
            &.active,&:hover{
                border-bottom: 3px solid var(--bs-navbar-active-color);
            }
            @include media-breakpoint-down(md){
                font-size: 1.3rem;
            }
        }
        @include media-breakpoint-down(lg){
            .nav-link.dropdown-toggle{
                border-bottom: none !important;
            }
        }
    }
    .header-icons{
        a{
            &:not(:last-child){
                margin-right: 20px;
            }
            position: relative;
        }
        i{
            font-size: 1.7rem;
            color: $white;
        }
        .badge{
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: $white;
            border-radius: 50%;
            color: $black;
            display: grid;
            place-items: center;
            top: -20px;
            right: -10px;
        }
    }
    .navbar-toggler{
        font-size: 1.5rem;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        &:not(.collapsed){
            .hamburger-bar{
               &.bar1{
                transform: translate(1px, 5px) rotate(45deg);
               }
               &.bar2{
                opacity: 0;
                margin: 0;
               }
               &.bar3{
                transform:rotate(-45deg) ;
               }
            }
        }
        .hamburger-bar{
            width: 30px;
            height: 3px;
            display: block;
            background-color: $primary;
            transition: all 0.4s ease-in-out;
            &.bar2{
                margin: 5px 0;
                opacity: 1;
            }
            &.bar1{
                transform: translate(0,0) rotate(0deg);
            }
            &.bar3{
            transform: translate(0,0) rotate(-0deg) ;
            }
        }
    }
    .navbar-collapse{
        @include media-breakpoint-down(lg){
        position: fixed;
        inset: 0 20% auto 0;
        z-index: 10;
        height: 100vh;
        overflow: scroll;
        transition: none;
        transform: translateX(-800px);
        transition: transform 0.2s ease-in;
        background-color: $white;
        &.show{
            transform: translateX(0); 
            box-shadow: rgba(0, 0, 0, 0.1) 10px 0px 10px;
        }
        .nav-item{
            padding: 10px  25px;
            @include media-breakpoint-down(lg){
                width: 100%;
                &:not(:first-child,:last-child){
                    border-bottom: 1px solid #e7e7e7;
                }
                .nav-link.active,.nav-link:hover{
                    border-bottom: none;
                }
            }
            &.logoBox{
                background-color: rgba($color: $primary, $alpha: 0.1);
                padding: 20px 0;
                margin-bottom: 20px;
                img{
                    max-width: 140px;
                    mix-blend-mode: multiply;
                }
            }
        }
        a{
            font-size: 1.3rem;
            color: $black;
            &.active{
                color: $primary !important;
                font-weight: 600;
                border-bottom: none !important;
            }
        }
        .button-row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }
        .header-button{
            width: 100%;
            padding-block: 20px;
            background-color: $card-bg !important;
            border-radius: 0 !important;
            border: none !important;
            color: $black !important;
            &.active{
                color: $primary !important;
                border-bottom: 2px solid $primary !important;
            }
        }
        .nav-tabs{
            @include media-breakpoint-up(lg){
                display: none;
            }
            .nav-item{
                padding: 0;
                flex-grow: 1;
            }
        } 
        }
        @include media-breakpoint-up(lg){
            justify-content: center;
            .nav-tabs{
                display: none;
            } 
        }
        
    }

    .nav-link.dropdown-toggle{
        &::after{
            display: none;
        }
        i{
            display: inline-block;
            transition: transform 0.3s ease-in-out;
        }
        &.show i{
            transform: rotate(180deg);
        }

        @include media-breakpoint-down(lg){
            position: relative;
            i{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
                line-height: 0;
            }
        }
    }

    .dropdown-menu{
        border-radius: 0;
        padding: 0;
        left: 18px !important;
        border: none;
        top: 58px !important;
        .dropdown-item{
            padding: 0;
            @include media-breakpoint-down(lg){
                a{
                    font-size: 1.2rem;
                    font-weight: 400;
                    word-break: break-word;
                    white-space: normal;
                }
            }
            a{
                text-decoration: none;
                color: $text-color;
                display: block;
                padding: 10px 20px;
            }
            &:hover{
                a{
                    color: white;
                    background-color: $primary;
                }
            }
        }
    }

    .headerIcon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 18px;
            font-weight: 800;
        }

        &.phone{
            background-color: #90fffa;
            i{
                animation: pop 0.5s ease-in-out 1s infinite;
            }
        }
        &.whatsapp{
            background-color: #25d366;
            i{
                animation: rotate-vertical 2s linear 1s infinite;
                color: $white;
            }
        }
    }

   
}
.slideModal{
    .modal-dialog{
        position: fixed;
        inset: 0 0 0 auto;
        height: 100vh;
        margin: 0;
        transition: all 1s ease-in-out;
        @include media-breakpoint-down(sm){
            width: 90%;
        }
    }
    .modal-content{
        height: 100%;
        border-radius: 0;
        color:black;
    }
}
.social-media-logins{
    text-align: center;
    margin-bottom: 25px;
    a img{
        width: 50px;
        border: 1px solid black;
        padding: 5px;
    }
}

.top-header{
    background-color: $secondary;
    padding: 10px 0;
    font-weight: 600;
    color: $black;
    @include media-breakpoint-down(md){
       display: none;
    }
    i{
        display: inline-block;
    }
    i:hover{
        animation: flipAnimation 0.5s ease-in-out;
    }
}

.desktopHamburger{
    display: flex;
    align-items: center;
    margin: 0;
    i{
        font-size: 1.5rem;
    }
}


.deskHamburgerOverlay{
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease;
    position: fixed;
    right: 0;
    top: 0;
    background: rgb(0 0 0 / 61%);
    width: 0;
    height: 100%;
    &.visible{
        visibility: visible;
        opacity: 1;
        width: 100%;
    }
}
.deskHamburgerPopup{
    background-color: $white;
    width: 450px;
    margin-left: auto;
    padding: 80px 30px 20px;
    height: 100%;
    overflow: auto;
    position: relative;
    right: -500px;
    cursor: auto;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: right ease 1s;
    transition: right ease 1s;
    &.visible{
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    button.deskHamburgerClose{
        position: absolute;
        right: 30px;
        top: 30px;
        border: none;
        outline: none;
        color: $tertiary;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.3rem;
    }
    .logo{
        max-width: 200px;
        margin-left: -25px;
        margin-bottom: 40px;
    }

    h3{
        color: $tertiary;
        font-size: 1.4rem;
    }
    .contactItem{
        position: relative;
        padding-left: 40px;
        i{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.1rem;
            color: $primary;
        }
    }

    .socials{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        .item{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.2rem;
                color: $white;
            }
        }
    }

}