.section{
    padding: 120px 0 120px 0;
    @include media-breakpoint-down(sm){
        padding: 30px 0;
    }
    // background-color: white;
}
.section-title{
    position: relative;
    color: $tertiary;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 75px;
    position: relative;
    text-transform: uppercase;
    @include media-breakpoint-up(lg){
        opacity: 0;
        transform: translateX(-2000px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        &.visible{
            transform: translateX(0);
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: auto;
        bottom: -30px;
        left: 0;
        background: #fdc213;
        width: 100px;
        height: 6px;
    
    }
    &.type2::after{
        background: $tertiary;
    }
    &.no-border{
        &::after{
            display: none;
        }
    }
    &.font-medium{
        font-size: 2rem;
    }
}
.section-title-2{
    color: $tertiary;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 35px;
}
.sub-section-title{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 15px;
}

p.section-content{
    color: $text-color;
    font-size: 1.1rem;
}

.section-content{
    p{
        color: $text-color;
        font-size: 1.1rem;
    }
    @include media-breakpoint-up(md){
        padding: 30px 80px;
    }
}


.side-graphics img{
    display:block;
    margin: 20px auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    background: none;
    border-radius: 100%;
    box-sizing: border-box;
    border-bottom: 50px solid transparent;
    @include media-breakpoint-down(lg){
        width: 100%;
        height: 100%;
        max-height: 350px;
        object-fit: cover;
        border-radius: 0;
        margin: 0;
        border-bottom: none;
    }
}

.side-graphics{
    @include media-breakpoint-down(lg){
        margin-bottom: 30px;
    }
}

.services-section{
    background-color: #fff;
    .custom-list-title{
        font-size: 1.5rem !important;
    }
}

.team-section{
    .person-detail-card{
        background: #fff;
        padding: 30px 30px 30px 30px;
        @include media-breakpoint-down(md){
            padding: 15px 15px 15px 15px;
        }
        border-left: 15px solid #fdc213;
        position: relative;
        box-shadow: 2px 2px 4px #d1d1d1;
        transition: all 0.5s ease-in-out;
        &::after{
            content: "";
            position: absolute;
            background: url(../images/dotted_black_background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            right: 0;
            height: 100%;
            width: 30%;
            opacity: 0.2;
        }
        .person-image{
            position: absolute;
            width: 100px;
            height: 100px;
            background: #d9d9d9;
            border-radius: 50%;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            @include media-breakpoint-down(md){
                width: 60px;
                height: 60px;
                left: 15px;
            }
        }
        .person-name{
            color: $tertiary;
        }
        i{
            color: #2c2e3a;
            font-size: 1.2rem;
        }
        &:hover{
            ul li:last-child, ul li:nth-last-child(2){
                font-weight: 700;
            }
        }
    }
}
.clients-section{
    background-color: #fff;
    padding-bottom: 0;
    .section-title{
        margin-bottom: 60px;
    }
    .client{
        height: 150px !important;
        width: 150px !important;
        background: rgba(0, 0, 0, 0) !important;
        display: flex !important;
        align-items: center;
        margin-right: 30px;
        padding: 10px !important;
        img{
            width: 100%;
            aspect-ratio: 3/2;
            object-fit: contain;
        }
    }
}
.graphics-section{
    .graphics-area{
        text-align: center;
        img{
            max-height: 300px;
            object-fit: contain;
            width: 100%;
        }
    }
}

.location-section{
    background-color: $tertiary;
    padding: 80px 0;
    .section-title{
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondary;
        &::after{
            display: none;
        }
    }
    .location{
        color: $white;
        text-align: center;
        border: 1px solid #525252;
        padding: 10px
    }
    .icon i{
        display: inline-block;
        color: $secondary;
        margin-bottom: 20px;
        font-size: 2.5rem;
        animation: locationAnimation 0.5s alternate-reverse infinite;
    }
    p{
        margin-bottom: 0;
    }
}

@keyframes locationAnimation{
    0%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px);
    }
}

.subpage-body-section{
    background-color: white;
}